<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="textFilesDirectory" value="A:\My-Projects\.DATA\TournamentTracker"/>
  </appSettings>
  
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=Kilany;Database=Tournaments;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>